



.homepage {
    max-width: 1100px;
    display: table;
    margin: auto;
}
.main-div {
    margin: 50px;
   
}
.navbar {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.details {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.training-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sep-div {
    display: flex;
}

.left-side {
    padding: 8px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.tech-div-management {
    display: flex;
}
.year-div {
    display: flex;
}
.para-div {
    padding: 10px;
    background-color: #beb6cd;
}
.para-div p {
    background-color: white;
    padding: 9px;
}
.container-left h1 {
    color: #0192a1;
    font-size: 21px;
}
.right-div h1 {
    color: #0192a1;
    font-size: 21px;  
}
.details h3 {
    color: #424141;
    font-size: 16px;
}
.details h4 {
    font-size: 16px;
    color: red;
    margin-left: 19px;
}
.link-list h1 {
    font-family: sans-serif;
    font-size: 24px;
}
.first-div1 {
    padding: 7px;
    background-color: #e9e6e6;
    height: 322px;
}
.first-div {
    height: 322px;
    padding: 6px;
    color: white;
    background-color: #3c3b3b;
    margin-left: 17px;
}
.tech-div-management h4 {
    border-radius: 7px;
    margin-left: 14px;
    font-size: 13px;
    padding: 7px;
    background-color: #0c0c3e;
    color: white;
}
.tech-div-management h3 {
    font-family: sans-serif;
    color: #d90741;
}
.year-div h3 {
    color: #383737;
    margin-left: 12px;
    font-size: 16px;
}
.tech-div {
    background-color: #efeded;
}

.project h1 {
    font-weight: 500;
    font-family: sans-serif;
    color: gray;
    font-size: 24px;
}
.right-side-div {
    color: white;
    padding: 10px;
    background-color: #030328;
}

.right-side-div h2 {
    text-align: center;
    font-size: 13px;
}

ul.list2 li {
    padding: 11px;
    margin-left: -35px;
    margin-top: 9px;
    list-style-type: none;
    color: #242424;
    font-size: 16px;
}
ul.list2 {
    border-radius: 7px;
    border: 1px solid #dbd6d6;
}
.first-div1 h2 {
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: -11px;
}
.first-div1 h3 {
    color: #484646;
    font-size: 16px;
}

.first-div1 h4 {
    color: #068ecf;
}

@media (max-width:600px){
   

}